/*
---------------------------------------------
Índice
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */




html *{  font-family: 'Ubuntu', sans-serif;}

/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  /* border-bottom:  5px solid #6266ea; */
  padding-top: .5em;
}

.btn-outline-primary.active{
  background-color: #11353d !important;
}
.iconify {
  color: gray; }

.btn-outline-primary:active, .btn-outline-primary:focus{
  box-shadow:  0 0 0 .1rem #0d252c8f !important;
  background-color: #11353d !important;
}

.btn-secondary:active, .btn-secondary:focus{
  box-shadow:  0 0 0 .1rem #0d252c8f !important;
  background-color: #11353d !important;
}


.text-primary{
color:skyblue !important;
}

.btn-primary{
  background-color: #1b525f !important;
  border-color: #318791 !important;
}

.btn-outline-primary{
  color: #337e8f;
  border-color: #246877;
}

.btn-secondary{
  background-color: #1b525f !important;
  border-color: #318791 !important;
}


.bg-secondary{
  background-color: #1b525f !important;
}


a{
  color: #318791;
text-decoration: underline;
}
.btn-outline-primary:hover{
  background-color: #318791 !important;
  border-color: #318791 !important;
  box-shadow:  0 0 0 0!important;
}

.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {color: #fff;}
/* Home */
#index_banner {
  background-image: url('./../img/fondo1.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner h1, #index_banner p {
background-color: rgba(10, 10, 10, 0.7) !important;
color:skyblue !important;
border-radius: 20px;
padding: 1rem !important;
margin-bottom: 0.3em !important;
text-align: center;
}

#with-bullet .iconify{
  width: 1.2em ;
  margin-right: .5em;
  height: auto;
  color: rgba(241, 228, 228, 0.911);
}

.banner-button{
  background-color: rgba(10, 10, 10, 0.7) !important;
  color:skyblue !important;
  border-color: aqua;    
}

.banner-button:hover{
  background-color: #1b5371 !important;
  color:rgb(198, 216, 218) !important;
  border-color: aqua;    
}

.btn-outline-primary:hover{
  background-color: #318791 !important;
  border-color: #318791 !important;
}

body{
  background-color:#212529;
  color: white;
}

.bg-primary{
  background-color: #0f2429 !important;
}

#index_banner .carousel-item {
  min-height: 60vh;
}

.color-nav1{  
  color: #3eb3c0;
}

#index_banner .carousel-control-prev .iconify,
#index_banner .carousel-control-next .iconify{
  width: 3em;
  height: 3em;
  color: aqua !important;
  text-decoration: none;
  border-radius: 100%;
  background-color: white;
  
}

#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: white !important;
  border: 0.1px solid black;
   /* las rayas de abajo del carrousel van de color azul */
}


.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgba(255,255,255,0.8);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, #0f2429 66.666%, rgba(255,255,255,0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}
/* About */
#work_banner {
  background-image: url('./../img/Empresa.jpg');
  background-size: cover;
  background-position: center top;
  max-width: 100%;
  height: auto;
}
.pt-custom1{
  padding-top: 10em;
}

.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #4a78be;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #5d81b6;
}
.progress-bar{
  background-color: #1b525f;
}

.why-us {
  background: #0f2429;
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, #0f2429 50%, #212529 50%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1); */
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
  background-color: #3eb3c0;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}

div svg {
  margin-bottom: .2em;
}
a i .iconify{
  width: 24px; height: 24px;
}

.icon-ayuda{
  width: 3em;
  height: auto;
}

#social-icons-footer .iconify{
  width: 2.7em; height: auto;
  color: #7999a0;  
  padding-right: .5em;
}

#objetivos .iconify{
width: 100%;
height: auto;
padding: 0 1.5em;
}

#team-row .iconify{
  width: 15em; height: auto;
}


#img-nosotros, #img-contacto{
  max-width: 100%;
  border-radius: 1em;
}
#destacados .recent-work{
  height: 100%;
}

#destacados img {
  
  margin: auto;
}



#main_nav .container{
  padding: 0 0 0 0;
}


#navbar-icons {
  flex-wrap: nowrap;
}

#navbar-icons .iconify{
  width: 1.5em;
  height: auto;
}

.pricing-horizontal, .pricing-horizontal-body i{
  background-color: #4a78be;
  color: black;
}
/* Contact */
#floatingtextarea {
  height: 150px
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}
